<!DOCTYPE html>
<html>

<head>
    <title>Login | ResumeAI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="auth-page">

    <div class="wrapper center">

        <div class="card glass">

            <h2>Login</h2>

            <form method="post">

                <input type="email" name="email" placeholder="Email" required>

                <input type="password" name="password" placeholder="Password" required>

                <button class="btn btn-primary" type="submit">Login</button>

            </form>

            <div style="margin-top:15px;">
                <a href="/auth/google">
                    <button class="btn btn-secondary google-btn">Login with Google</button>
                </a>
            </div>

            <div class="login-link">
                Don't have an account? <a href="/signup">Create Account</a>
            </div>

        </div>

    </div>

</body>

</html>