<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }} - Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="resume-page">

    <!-- TEMPLATE SWITCH -->
    {% if template == "modern" %}
    {% include "templates/modern.html" %}
    {% elif template == "sidebar" %}
    {% include "templates/sidebar.html" %}
    {% else %}
    {% include "templates/classic.html" %}
    {% endif %}

</body>

</html>